@model PlanningSystem.Models.Account
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("CreateAccount", "Account"))
{
    <h2 class="text-center">Log in</h2>
    <div class="center-middle" >
        <div class="form-group">
            @Html.LabelFor(m => m.username)
            @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.password)
            @Html.TextBoxFor(m => m.password, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix pull-left">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
        </div>
        <div class="clearfix pull-right">
            @Html.ActionLink("Forgot Password?", "Reset", "Account")
        </div>
    </div>
}