@model PlanningSystem.Models.Schedule
@{
    ViewBag.Title = "CreateClassroom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roostermakerij magic</h2>



@using (Html.BeginForm("CreateScheduleClassroom", "Schedule"))
{
<div class="form-group">
    @Html.LabelFor(i => i.ClassName.ClassID)
    @Html.DropDownList("StudentClass", (IEnumerable<SelectListItem>)ViewData["ListItemsStudentClasses"])
    @Html.LabelFor(i => i.year.SchoolYear)
    @Html.DropDownList("StudentYear", (IEnumerable<SelectListItem>)ViewData["ListItemsYears"])
    @Html.LabelFor(i => i.month.Month)
    @Html.DropDownList("StudentMonth", (IEnumerable<SelectListItem>)ViewData["ListItemsMonths"])
    @Html.LabelFor(i => i.schoolweek.NumberOfTheWeek)
    @Html.DropDownList("StudentWeek", (IEnumerable<SelectListItem>)ViewData["ListItemsWeeks"])
    @Html.LabelFor(i => i.dayy.Day)
    @Html.DropDownList("StudentDay", (IEnumerable<SelectListItem>)ViewData["ListItemsDays"])
</div>
    <button type="submit" class="btn btn-primary">Opslaan</button>
}

