@model List<List<PlanningSystem.Models.Unavailability>>


@{
    /**/

    ViewBag.Title = "Inzien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inzien</h2>
@using (Html.BeginForm("Inzien", "Unavailability"))
{
    <div class="form-group">
        @Html.Label("currentWeek", (string)ViewData["currentWeek"])
        <br>
        @Html.Label("currentUser", (string)ViewData["currentUser"])
    </div>
}

    @foreach (var weekday in Model)
    {
        if (!weekday.Any())
        {
            <select name="selectie" size="18" disabled>
                @for (int i = 0; i < 18; i++)
                {
                    <option value="">-</option>
                }

            </select>
        }
        else
        {
            int currentHour = 9;
            int currentMinute = 00;

            <select name="selectie" size="18">
                @foreach (var u in weekday)
                {
                    bool notDone = true;
                    bool fillRest = false;
                    while (notDone && currentHour != 18)
                    {

                        if (currentHour == u.UnavailabilityStartTime.Hour && currentMinute == u.UnavailabilityStartTime.Minute)
                        {
                            <option value=@u.UnavailabilityID>@u.UnavailabilityCause</option>
                            fillRest = true;
                        }
                        else if (currentHour == u.UnavailabilityEndTime.Hour && currentMinute == u.UnavailabilityEndTime.Minute)
                        {
                            <option value="">-</option>
                            fillRest = false;
                            notDone = false;
                        }
                        else if (fillRest)
                        {
                            <option value=@u.UnavailabilityID>@u.UnavailabilityCause</option>
                        }
                        else
                        {
                            <option value=""> -</option>
                        }
                        if (currentMinute == 00)
                        {
                            currentMinute = 30;
                        }
                        else
                        {
                            currentMinute = 00;
                            currentHour++;
                        }
                    }


                }
                @while (currentHour != 18)
                {
                    <option value="">-</option>
                    if (currentMinute == 00)
                    {
                        currentMinute = 30;
                    }
                    else
                    {
                        currentMinute = 00;
                        currentHour++;
                    }
                }
            </select>
        }
    }
    <br>
        @using (Html.BeginForm("Inzien", "Unavailability"))
        {
        
            <div class="form-group">
                @Html.DropDownList("Teachers", (IEnumerable<SelectListItem>)ViewData["ListItemsTeachers"])
            </div>
            <div class="form-group">
                @Html.DropDownList("Week", (IEnumerable<SelectListItem>)ViewData["ListItemsWeek"])
            </div>
            <button type="submit" class="btn btn-primary">Laden</button>
        }
    
    <br>
