@model PlanningSystem.Models.Account

@{
    ViewBag.Title = "Create Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aanmaken Gebruikersaccount</h2>


@using (Html.BeginForm("CreateAccount", "Account"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.username)
        @Html.TextBoxFor(m => m.username, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.password)
        @Html.TextBoxFor(m => m.password, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.role.roleName)
        
        @Html.DropDownList("SelectedItem", (IEnumerable<SelectListItem>)ViewData["ListItems"])
        @*@Html.DropDownList("DropdownlistName",
        new SelectList(new List<SelectListItem> {
            new SelectListItem { Text = "Administrator", Value = "Administrator" },
            new SelectListItem { Text = "Roosteraar", Value = "Roosteraar" },
            new SelectListItem { Text = "Docent", Value = "Docent" }
        }, "Value", "Text"), "Select gebruikers rol", new { @class = "form-control" })*@
    </div>
    <button type="submit" class="btn btn-primary">Opslaan</button>
}