@model PlanningSystem.Models.Account

@{
    ViewBag.Title = "Edit Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit @Model.username</h2>

@using (Html.BeginForm("EditAccount", "Account"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.username)
        @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.password)
        @Html.TextBoxFor(m => m.password, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Opslaan</button>
}